<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../public/stylesheets/bootstrap.css" rel="stylesheet">
</head>
<body>
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<!--<div class="row">-->
    <!--<div class="col-xs-12 col-md-8" style="background-color: red;">.col-xs-12 .col-md-8</div>-->
    <!--<div class="col-xs-6 col-md-4" style="background-color: black;">.col-xs-6 .col-md-4</div>-->
<!--</div>-->

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
    <div class="col-xs-6 col-md-4" style="background-color: #795da3;">.col-xs-6 .col-md-4</div>
    <div class="col-xs-6 col-md-4"  style="background-color: #795da3;">.col-xs-6 .col-md-4</div>
    <div class="col-xs-6 col-md-4"  style="background-color: #795da3;">.col-xs-6 .col-md-4</div>
</div>

<!--&lt;!&ndash; Columns are always 50% wide, on mobile and desktop &ndash;&gt;-->
<!--<div class="row">-->
    <!--<div class="col-xs-6">.col-xs-6</div>-->
    <!--<div class="col-xs-6">.col-xs-6</div>-->
<!--</div>-->
</body>
</html>